/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(71, 71, 71);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 3px solid rgb(44, 44, 44);
  }

body{
    font-family: 'Open Sans', sans-serif;
}

p {
    color: #838C95;
}

nav > .active {
    color: #F06000;
}